@use "../definitions/content";
@use "../definitions/colors";

@use "../definitions/shadows";


.graph {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 0;

  &__edges {
    z-index: -1;
  }
}

.null_vertex {
  display: none;
}

.graph_vertex {
  width: 24px;
  height: 24px;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  &__info {
    position: absolute;
    width: 240px;
    left: 40px;
    visibility: hidden;
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 2;
    @include shadows.Elevation(2);

    .overhead_text {
      font-family: "Montserrat", sans-serif;
      color: colors.$node_unknown;
      font-style: italic;
      font-weight: bold;
      width: 100%;
      text-align: right;

      font-size: 11px;
    }

    .grunge_label {
      &__title {
        height: 24px;
        font-size: 14px;
      }

      &__desc {
        min-height: 40px;
        padding: 4px;
        font-size: 15px;

        .vertex_id {
          font-family: "RobotoCondensed", sans-serif;
          font-weight: bold;
          font-variant-caps: petite-caps;
          margin-right: 8px;
          font-size: 14px;
        }
      }
    }
  }
}

// To explain the naming - a map was the first graph I made...
%info_unknown {
  .grunge_label__title {
    background-image: url(content.$root + "images/gui/unknown/Panel450x100.png"),
    linear-gradient(colors.$node_unknown, colors.$node_unknown);
    color: colors.$black;

  }
  .grunge_label__desc {
    background: colors.$black;
  }
}
%info_friendly {
  .grunge_label__title {
    background-image: url(content.$root + "images/gui/friendly/Panel450x100.png"),
    linear-gradient(colors.$node_friendly_dark 50%, colors.$node_friendly);
  }
  .grunge_label__desc {
    background: colors.$node_friendly_black;
  }
}
%info_safe {
  .grunge_label__title {
    background-image: url(content.$root + "images/gui/safe/Panel450x100.png"),
    linear-gradient(colors.$node_safe_dark 50%, colors.$node_safe_50);
  }
  .grunge_label__desc {
    background: colors.$node_safe_black;
  }
}
%info_combat {
  .grunge_label__title {
    background-image: url(content.$root + "images/gui/combat/Panel450x100.png"),
    linear-gradient(colors.$node_combat 50%, colors.$node_combat_light);
  }
  .grunge_label__desc {
    background: colors.$node_combat_black;
  }
}
%info_emergency {
  .grunge_label__title {
    background-image: url(content.$root + "images/gui/emergency/Panel450x100.png"),
    linear-gradient(colors.$node_emergency_dark, colors.$node_emergency 20%);
  }
  .grunge_label__desc {
    background: colors.$node_emergency_black;
  }
}
%info_neutral {
  .grunge_label__title {
    background-image: url(content.$root + "images/gui/neutral/Panel450x100.png"),
    linear-gradient(colors.$node_neutral_40, colors.$node_neutral);
  }
  .grunge_label__desc {
    background: colors.$node_neutral_black;
  }
}
%info_deadly {
  .grunge_label__title {
    background-image: url(content.$root + "images/gui/deadly/Panel450x100.png"),
    linear-gradient(colors.$node_deadly_dark, colors.$node_deadly 30%);
  }
  .grunge_label__desc {
    background: colors.$node_deadly_black;
  }
}
%info_black {
  .grunge_label__title {
    background-image: url(content.$root + "images/gui/black/Panel450x100.png"),
    linear-gradient(colors.$black 50%, colors.$true_grey);
  }
  .grunge_label__desc {
    background: colors.$black;
    color: colors.$node_unknown;
  }
}
