@import "../definitions/fonts";
@import "../definitions/colors";
@import "../definitions/shadows";
@import "../definitions/common_dimensions";

@import "common";

.grunge_panel {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  background-size: 100% 100%;
  margin-top: 2 * $margin_default;
  margin-bottom: 2 * $margin_default;
  width: 100%;
  height: 80px;

  &__icon {
    width: 30%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__subtitle {
    font-family: "RobotoCondensed", sans-serif;
    font-weight: bold;
    height: 40%;
    display: flex;
    align-items: center;
    @include FontSize(4);
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    height: 50%;
    display: flex;
    align-items: center;
    color: $color_node_unknown;
    @include FontSize(3);
  }
}

.grunge_label {
  &__title {
    background-size: 100% 100%;
    background-blend-mode: normal;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 8px;
    padding-right: 12px;
    justify-content: space-between;
    color: $color_node_unknown;

    &__left {
      font-family: "RobotoCondensed", sans-serif;
      font-weight: bold;
      letter-spacing: -0.5px;
    }

    &__right {
      font-family: "RobotoCondensed", sans-serif;
    }
  }

  &__desc {
    color: $color_node_unknown;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "RobotoCondensed", sans-serif;
    letter-spacing: -0.2px;
  }
}

.theme_label {
  margin-bottom: $margin_default;
  padding: $padding_default / 4 2 * $padding_default $padding_default / 4 $padding_default / 2;
  font-family: "RobotoCondensed", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: $color_node_unknown;
  width: fit-content;
  @include FontSize(4);
}

.theme_subheader {
  font-family: "Montserrat", sans-serif;
  font-variant-caps: small-caps;
}

.theme_box {
  margin: $margin_default / 2;
  padding: $padding_default;
}

.theme_map {
  font-family: "RobotoCondensed", sans-serif;
  @include FontSize(6);

  &__row {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 4px;

    &__key {
      // Instances should set a width or a right margin.
      font-weight: bold;
      font-variant-caps: small-caps;
      flex-grow: 0;
    }

    &__value {
      flex-grow: 1;
    }
  }
}

.theme--unknown {
  .grunge_panel {
    background-image: url($content_root + "images/gui/unknown/PanelFaded.png");

    &__subtitle {
      color: $color_node_unknown;
    }
  }

  .theme_label {
    background-color: $color_node_unknown;
  }

  .theme_subheader {
    color: $color_node_unknown;
  }

  //noinspection CssOverwrittenProperties
  .theme_box {
    border-image-source: url($content_root + "images/gui/unknown/Stroke500x500.png");
    border-image-slice: 5;
    border-image-width: 2px;
    border-image-repeat: repeat;
  }

  .theme_map__row__key {
    color: $color_node_unknown
  }
}

.theme--friendly {
  .grunge_panel {
    background-image: url($content_root + "images/gui/friendly/PanelFaded.png");

    &__subtitle {
      color: $color_node_friendly;
    }
  }

  .theme_label {
    background-color: $color_node_friendly_dark;
  }

  .theme_subheader {
    color: $color_node_friendly;
  }

  //noinspection CssOverwrittenProperties
  .theme_box {
    border-image-source: url($content_root + "images/gui/friendly/Stroke500x500.png");
    border-image-slice: 5;
    border-image-width: 2px;
    border-image-repeat: repeat;
  }

  .theme_map__row__key {
    color: $color_node_friendly
  }
}

.theme--safe {
  .grunge_panel {
    background-image: url($content_root + "images/gui/safe/PanelFaded.png");

    &__subtitle {
      color: $color_node_safe;
    }
  }

  .theme_label {
    background-color: $color_node_safe_dark;
  }

  .theme_subheader {
    color: $color_node_safe;
  }

  //noinspection CssOverwrittenProperties
  .theme_box {
    border-image-source: url($content_root + "images/gui/safe/Stroke500x500.png");
    border-image-slice: 5;
    border-image-width: 2px;
    border-image-repeat: repeat;
  }

  .theme_map__row__key {
    color: $color_node_safe
  }
}

.theme--combat {
  .grunge_panel {
    background-image: url($content_root + "images/gui/combat/PanelFaded.png");

    &__subtitle {
      color: $color_node_combat;
    }
  }

  .theme_label {
    background-color: $color_node_combat;
  }

  .theme_subheader {
    color: $color_node_combat;
  }

  //noinspection CssOverwrittenProperties
  .theme_box {
    border-image-source: url($content_root + "images/gui/combat/Stroke500x500.png");
    border-image-slice: 5;
    border-image-width: 2px;
    border-image-repeat: repeat;
  }

  .theme_map__row__key {
    color: $color_node_combat
  }
}

.theme--emergency {
  .grunge_panel {
    background-image: url($content_root + "images/gui/emergency/PanelFaded.png");

    &__subtitle {
      color: $color_node_emergency;
    }
  }

  .theme_label {
    background-color: $color_node_emergency_dark;
  }

  .theme_subheader {
    color: $color_node_emergency;
  }

  //noinspection CssOverwrittenProperties
  .theme_box {
    border-image-source: url($content_root + "images/gui/emergency/Stroke500x500.png");
    border-image-slice: 5;
    border-image-width: 2px;
    border-image-repeat: repeat;
  }

  .theme_map__row__key {
    color: $color_node_emergency
  }
}

.theme--neutral {
  .grunge_panel {
    background-image: url($content_root + "images/gui/neutral/PanelFaded.png");

    &__subtitle {
      color: $color_node_neutral;
    }
  }

  .theme_label {
    background-color: $color_node_neutral_dark;
  }

  .theme_subheader {
    color: $color_node_neutral;
  }

  //noinspection CssOverwrittenProperties
  .theme_box {
    border-image-source: url($content_root + "images/gui/neutral/Stroke500x500.png");
    border-image-slice: 5;
    border-image-width: 2px;
    border-image-repeat: repeat;
  }

  .theme_map__row__key {
    color: $color_node_neutral
  }
}

.theme--deadly {
  .grunge_panel {
    background-image: url($content_root + "images/gui/deadly/PanelFaded.png");

    &__subtitle {
      color: $color_node_deadly;
    }
  }

  .theme_label {
    background-color: $color_node_deadly_dark;
  }

  .theme_subheader {
    color: $color_node_deadly;
  }

  //noinspection CssOverwrittenProperties
  .theme_box {
    border-image-source: url($content_root + "images/gui/deadly/Stroke500x500.png");
    border-image-slice: 5;
    border-image-width: 2px;
    border-image-repeat: repeat;
  }

  .theme_map__row__key {
    color: $color_node_deadly
  }
}

.theme--black {
  .grunge_panel {
    background-image: url($content_root + "images/gui/black/PanelFaded.png");

    &__subtitle {
      color: $color_black;
    }
  }

  .theme_label {
    background-color: $color_black;
  }

  .theme_subheader {
    color: $color_black;
  }

  //noinspection CssOverwrittenProperties
  .theme_box {
    border-image-source: url($content_root + "images/gui/black/Stroke500x500.png");
    border-image-slice: 5;
    border-image-width: 2px;
    border-image-repeat: repeat;
  }

  .theme_map__row__key {
    color: $color_black
  }
}
