@use "../definitions/content";
@use "../definitions/colors";
@use "../definitions/shadows";


.icon_table {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 24px;

  &__slot {
    display: flex;
    flex-flow: row wrap;
    width: 50px;
    max-width: 100px;
    gap: 8px;
    justify-content: center;
    flex-grow: 1;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 8px;
      font-size: 24px;
    }

    &__label {
      font-size: 11px;
    }
  }
}