@use "../definitions/colors";

@use "../definitions/shadows";

@mixin characterSheetCustomizer($primary_color: colors.$primary,
                                $hue_rotate: null,
                                $height: null)
{
  .sheet_header {
    .header_zone {
      border-bottom-color: $primary_color;

      .sheet_title {
        color: $primary_color;
      }

      table {
        th {
          color: $primary_color;
        }
        &:not(.stats_table) {
          td:first-child {
            color: $primary_color;
          }
        }
      }
    }
  }

  .sheet_section_header {
    color: $primary_color;
    border-bottom-color: $primary_color;
  }

  @if ($hue_rotate != null) {
    filter: hue-rotate($hue_rotate);
  }
}

$img_content_root: "../../assets/";

%advanced_style_div {
  .stat_sheet {
    background-size: 100% auto;
    //noinspection CssReplaceWithShorthandSafely
    background: url($img_content_root + "images/misc/stat-block-top-texture.png"),
                url($img_content_root + "images/misc/paper-texture.png");
    //noinspection CssReplaceWithShorthandSafely
    background-position: top center;
    //noinspection CssReplaceWithShorthandSafely
    background-repeat: no-repeat,repeat;
    position: relative;
    box-shadow: 0 0 5px #979AA4;
    border: 1px solid #d4d0ce;
    padding: 16px;
    margin: 8px 0;
    font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
    font-size: 14px;

    p {
      font-size: 14px;
      line-height: 1.4;
    }

    display: flex;
    min-width: 320px;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: flex-start;

    .sheet_header {
      .header_zone {
        padding-bottom: 8px;
        border-bottom: solid 3px;
        margin-bottom: 8px;

        .sheet_title {
          font-family: "Roboto", sans-serif;
          font-variant-caps: small-caps;
          font-size: 34px;
          margin-bottom: 4px;
        }

        .sheet_subtitle {
          font-style: italic;
          padding-bottom: 8px;
        }

        table {
          td, th {
            padding: 4px;
          }
          th {
            text-transform: uppercase;
          }
          &:not(.stats_table) {
            td {
              line-height: 1.5;
              text-align: left;

              &:first-child {
                font-weight: bold;
                min-width: 144px;
              }
            }
          }
          &.stats_table {
            width: 100%;
            td, th {
              text-align: center;
              vertical-align: center;
            }
          }
        }
      }
    }

    .sheet_section_header {
      font-size: 24px;
      font-variant-caps: small-caps;
      font-weight: 200;
      border-bottom: solid 1px;
    }

    @include characterSheetCustomizer();
  }
}

.advanced_style, .page--beastiary {
  @extend %advanced_style_div;
}