// 'Sienna', D&D char sheet foreground color.
$primary: #822000

// 'Cornsilk', D&D char sheet background color.
$primary_light: #F8F3D7

// 'True Blue', Picked by color picker (https://coolors.co/) iteration.
$secondary: #576CA8

// 'Russian Violet', Picked by color picker iteration.
$secondary_dark: #240B36

// 'Slate Gray', Picked by color picker iteration.
$grey: #7286A0
$prussian: #21364d

// Picked by https://mycolor.space/?hex=%237286A0&sub=1
$black: #00031D

// The D&D monster sheet color I used in my previous site.
$parchment: #fcf5c5


$white: #FAFCFF


$dnd_original_common_light: #FFE
$dnd_original_common_dark: #242528
$dnd_original_uncommon_dark: #1FC219
$dnd_original_rare_dark: #4990E2
$dnd_original_epic_dark: #9810E0
$dnd_original_legendary_dark: #FEA227
$dnd_original_artefact_dark: #BE8972
$dnd_original_uncommon_light: #5cbe3e
$dnd_original_rare_light: #5991dc
$dnd_original_epic_light: #b55dff
$dnd_original_legendary_light: #f2a546
$dnd_original_artefact: #BE8972

$dnd_common_light: #FFE
$dnd_uncommon_light: #5cbe3e
$dnd_rare_light: #5991dc
$dnd_epic_light: #b55dff
$dnd_legendary_light: #f2a546
$dnd_artefact_light: #d59e86
$dnd_common_dark: #444548
$dnd_uncommon_dark: #0F720C
$dnd_rare_dark: #003b81
$dnd_epic_dark: #7400be
$dnd_legendary_dark: #cf7b00
$dnd_artefact_dark: #7a4c37


$true_grey: #aaa
$trust:     $dnd_rare_dark
$betrayal:  $dnd_legendary_light
$gratitude: #c70ccf
$envy:      #0F720C
$respect:   #7400be
$contempt:  red

// Colors for map.
$graph_background: #272A2D

// Unknown zone color. Primary text color too.
$node_unknown: #EAE6E5

// Civilian zone based color scheme.
$node_friendly: #059729
$node_friendly_dark: #205017
$node_friendly_black: #160407
$node_friendly_grey: #454E4D

// Safe zone based color scheme.
$node_safe: #157FE3
$node_safe_50: #173FB3
$node_safe_dark: #19297C
$node_safe_black: #0D160B
$node_safe_grey: #BAA2A3

// Combat zone based color scheme.
$node_combat: #760BD4
$node_combat_light: #9947EA
$node_combat_black: #182825
$node_combat_gray: #897B7C

// Dangerous combat zone based color scheme.
$node_emergency: #E04D75
$node_emergency_dark: #381D2A
$node_emergency_black: #091E05
$node_emergency_grey: #7C809B

// Neutral zone based color scheme.
$node_neutral: #EC7005
$node_neutral_40: #CC5505
$node_neutral_dark: #520505
$node_neutral_black: #1D292F
$node_neutral_grey: #586F7C

// Deadly zone based color scheme.
$node_deadly: #CA1412
$node_deadly_dark: #420039
$node_deadly_black: #000B1E
$node_deadly_gray: #686963

///////////////////////////////////////////////////////////////////////////////

@mixin _light_rarity_foreground
  &.t1
    color: $dnd_common_light
  &.t2
    color: $dnd_uncommon_light
  &.t3
    color: $dnd_rare_light
  &.t4
    color: $dnd_epic_light
  &.t5
    color: $dnd_legendary_light
  &.t6
    color: $dnd_artefact_light

@mixin _dark_rarity_foreground
  &.t1
    color: $dnd_common_dark
  &.t2
    color: $dnd_uncommon_dark
  &.t3
    color: $dnd_rare_dark
  &.t4
    color: $dnd_epic_dark
  &.t5
    color: $dnd_legendary_dark
  &.t6
    color: $dnd_artefact_dark

@mixin _light_rarity_background
  &.t1
    background-color: $dnd_common_light
  &.t2
    background-color: $dnd_uncommon_light
  &.t3
    background-color: $dnd_rare_light
  &.t4
    background-color: $dnd_epic_light
  &.t5
    background-color: $dnd_legendary_light
  &.t6
    background-color: $dnd_artefact_light

@mixin _dark_rarity_background
  &.t1
    background-color: $dnd_common_dark
  &.t2
    background-color: $dnd_uncommon_dark
  &.t3
    background-color: $dnd_rare_dark
  &.t4
    background-color: $dnd_epic_dark
  &.t5
    background-color: $dnd_legendary_dark
  &.t6
    background-color: $dnd_artefact_dark

@mixin rarity_foreground_dark_background
  background-color: $black
  @include _light_rarity_foreground

@mixin rarity_foreground_light_background
  background-color: $white
  @include _dark_rarity_foreground

@mixin rarity_background_light_foreground
  color: $white
  @include _dark_rarity_background

@mixin rarity_background_dark_foreground
  color: $black
  @include _light_rarity_background

@mixin gradient($val, $reverse: false)
  $angle: 90deg
  @if ($reverse==true)
    $angle: 270deg

  $v1: 0.05
  $v2: 0.07
  $v3: 0.08

  background: linear-gradient($angle, rgba($val, $v1) 0%, rgba($val, $v2) 73%, rgba($val, $v3) 100%)


@mixin centralGradient($val)
  background: linear-gradient(0deg, rgba($val,0.1) 0%, rgba($val,0.04) 22%, rgba($val,0.02) 50%, rgba($val,0.04) 78%, rgba($val,0.1) 100%)
