@use "definitions/_colors";

@use "game_modules/_grunge_modules";
@use "game_modules/_skills";

@use "definitions/shadows";
@use "game_modules/base";
@import "game_modules/graph";
@import "game_modules/map";
@import "game_modules/ink_side_banner";
@import "game_modules/tokens";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: colors.$graph_background;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


#graph_selection_panel {
  background: colors.$black;
  color: colors.$white;
  width: 180px;

  @include shadows.Elevation(3);
}

#map_graph_area, #skill_graph_area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

#map_graph_area {
  display: flex;
  justify-content: center;
}

#graph_labels {
  position: fixed;
  bottom: 32px;
  left: 32px;
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;

  .graph_label {
    @include shadows.Elevation(3);
    background-color: colors.$black;
    color: colors.$white;
    border-radius: 8px;
    padding: 8px 24px;
    font-family: "RobotoCondensed", sans-serif;
    cursor: pointer;

    &.selected {
      background-color: colors.$primary;
      cursor: unset;
    }
  }
}
