@use "definitions/_colors";

@use "game_modules/_grunge_modules";
@use "game_modules/_skills";

@use "definitions/shadows";
@import "modules/side_panel";
@import "game_modules/graph";
@import "game_modules/map";
@import "game_modules/ink_side_banner";
@import "game_modules/tokens";
@import "game_modules/base";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: colors.$graph_background;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


#graph_selection_panel {
  background: colors.$black;
  color: colors.$white;
  width: 180px;

  @include shadows.Elevation(3);
}

#map_graph_area, #skill_graph_area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

#map_graph_area {
  display: flex;
  justify-content: center;
}
