@import "definitions/colors";
@import "definitions/shadows";
@import "game_modules/ink_side_banner";

body {
  margin: 0;
  padding: 0;
}

#workshop{
  background: #333;
  width: 100vw;
  height: 100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow: hidden;
  position: relative;
}
