@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../../assets/fonts/Roboto/Roboto-bold.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/**
 * * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 * *
 * * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * * the blur parameter has to be doubled.
 * *
 * * Author: Florian Kutschera ($gefangenimnetz), Conceptboard GmbH ($conceptboardapp)
 * *
 * * Example usage:
 * *
 * * .card {
 * *     width: 95px;
 * *     height: 95px;
 * *     background: #f4f4f4;
 * *     -webkit-transition: all 250ms;
 * *     -moz-transition: all 250ms;
 * *     transition: all 250ms;
 * *     @include BoxShadowHelper(1);
 * *     &:hover {
 * *         @include BoxShadowHelper(3);
 * *         -webkit-transform: translateY(-5px);
 * *         -moz-transform: translateY(-5px);
 * *         transform: translateY(-5px);
 * *     }
 * * }
 * *
 * * Also note: https://m3.material.io/styles/elevation/tokens
 * */
h6, h5, h4, h3, h2, h1 {
  color: #240B36;
}

h1 {
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  width: 100%;
  padding: 48px 32px 16px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #FAFCFF;
  background-color: #240B36;
}

h2 {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  margin-top: 32px;
  margin-bottom: 16px;
}

h3 {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 8px;
}

h4 {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}

h5 {
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 4px;
}

h6 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 2px;
}

p {
  font-size: 12px;
  text-align: justify;
  margin-top: 4px;
  margin-bottom: 8px;
}

li {
  font-size: 12px;
  text-align: justify;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 12px;
}

img {
  display: inline-block;
  margin: 8px;
  object-fit: contain;
}

.section {
  border-radius: 12px;
  background: linear-gradient(90deg, rgba(87, 108, 168, 0.05) 0%, rgba(87, 108, 168, 0.07) 73%, rgba(87, 108, 168, 0.08) 100%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 0 0 24px;
  margin: 8px 0;
}
.section .section_header {
  padding: 16px 8px;
  margin: 0;
  min-width: 80px;
}

.tag {
  background-color: #822000;
  color: #FAFCFF;
  border-radius: 3px;
  padding: 4px;
  margin: 0 4px 4px 0;
  display: inline-block;
  font-size: 11px;
}
.tag.leveled {
  color: #FAFCFF;
}
.tag.leveled.t1 {
  background-color: #444548;
}
.tag.leveled.t2 {
  background-color: #0F720C;
}
.tag.leveled.t3 {
  background-color: #003b81;
}
.tag.leveled.t4 {
  background-color: #7400be;
}
.tag.leveled.t5 {
  background-color: #cf7b00;
}
.tag.leveled.t6 {
  background-color: #7a4c37;
}

.card_link {
  color: #576CA8;
}

.page {
  background-color: #FAFCFF;
  border-radius: 4px;
  width: 80vw;
  min-width: 320px;
  margin: 64px auto auto;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.page .page_content {
  padding: 16px 32px;
}

#page_nav {
  display: none;
}
#page_nav .page_nav_link {
  width: 100%;
  padding: 24px 8px;
  cursor: pointer;
  color: #FAFCFF;
  font-weight: 500;
  letter-spacing: 0.1px;
  transition: all 0.3s;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}
#page_nav .page_nav_link:hover {
  background-color: rgba(87, 108, 168, 0.1);
}

table {
  font-size: 12px;
}
table td {
  padding: 8px;
}
table th {
  padding: 8px;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
table tr:nth-child(2n) {
  background-color: rgba(114, 134, 160, 0.1);
}
table tr:nth-child(2n+1) {
  background-color: rgba(114, 134, 160, 0.15);
}
table tr:nth-child(1) {
  background-color: #21364d !important;
  color: #FAFCFF;
}

@media screen and (min-width: 960px) {
  .page {
    width: calc(80vw - 100px);
    margin: 64px 5vw 16px calc(100px + 15vw);
  }

  #page_nav {
    display: unset;
    width: calc(100px + 10vw);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
    background-color: #240B36;
  }
}
/**
 * * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 * *
 * * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * * the blur parameter has to be doubled.
 * *
 * * Author: Florian Kutschera ($gefangenimnetz), Conceptboard GmbH ($conceptboardapp)
 * *
 * * Example usage:
 * *
 * * .card {
 * *     width: 95px;
 * *     height: 95px;
 * *     background: #f4f4f4;
 * *     -webkit-transition: all 250ms;
 * *     -moz-transition: all 250ms;
 * *     transition: all 250ms;
 * *     @include BoxShadowHelper(1);
 * *     &:hover {
 * *         @include BoxShadowHelper(3);
 * *         -webkit-transform: translateY(-5px);
 * *         -moz-transform: translateY(-5px);
 * *         transform: translateY(-5px);
 * *     }
 * * }
 * *
 * * Also note: https://m3.material.io/styles/elevation/tokens
 * */
/**
 * * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 * *
 * * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * * the blur parameter has to be doubled.
 * *
 * * Author: Florian Kutschera ($gefangenimnetz), Conceptboard GmbH ($conceptboardapp)
 * *
 * * Example usage:
 * *
 * * .card {
 * *     width: 95px;
 * *     height: 95px;
 * *     background: #f4f4f4;
 * *     -webkit-transition: all 250ms;
 * *     -moz-transition: all 250ms;
 * *     transition: all 250ms;
 * *     @include BoxShadowHelper(1);
 * *     &:hover {
 * *         @include BoxShadowHelper(3);
 * *         -webkit-transform: translateY(-5px);
 * *         -moz-transform: translateY(-5px);
 * *         transform: translateY(-5px);
 * *     }
 * * }
 * *
 * * Also note: https://m3.material.io/styles/elevation/tokens
 * */
h1, h2, h3, h4, h5, h6 {
  color: #240B36;
}

h1 {
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  width: 100%;
  padding: 48px 32px 16px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #FAFCFF;
  background-color: #240B36;
}

h2 {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  margin-top: 32px;
  margin-bottom: 16px;
}

h3 {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 8px;
}

h4 {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}

h5 {
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 4px;
}

h6 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 2px;
}

p {
  font-size: 12px;
  text-align: justify;
  margin-top: 4px;
  margin-bottom: 8px;
}

li {
  font-size: 12px;
  text-align: justify;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 12px;
}

img {
  display: inline-block;
  margin: 8px;
  object-fit: contain;
}

.section {
  border-radius: 12px;
  background: linear-gradient(90deg, rgba(87, 108, 168, 0.05) 0%, rgba(87, 108, 168, 0.07) 73%, rgba(87, 108, 168, 0.08) 100%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 0 0 24px;
  margin: 8px 0;
}
.section .section_header {
  padding: 16px 8px;
  margin: 0;
  min-width: 80px;
}

.tag {
  background-color: #822000;
  color: #FAFCFF;
  border-radius: 3px;
  padding: 4px;
  margin: 0 4px 4px 0;
  display: inline-block;
  font-size: 11px;
}
.tag.leveled {
  color: #FAFCFF;
}
.tag.leveled.t1 {
  background-color: #444548;
}
.tag.leveled.t2 {
  background-color: #0F720C;
}
.tag.leveled.t3 {
  background-color: #003b81;
}
.tag.leveled.t4 {
  background-color: #7400be;
}
.tag.leveled.t5 {
  background-color: #cf7b00;
}
.tag.leveled.t6 {
  background-color: #7a4c37;
}

.card_link {
  color: #576CA8;
}

.page {
  background-color: #FAFCFF;
  border-radius: 4px;
  width: 80vw;
  min-width: 320px;
  margin: 64px auto auto;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.page .page_content {
  padding: 16px 32px;
}

#page_nav {
  display: none;
}
#page_nav .page_nav_link {
  width: 100%;
  padding: 24px 8px;
  cursor: pointer;
  color: #FAFCFF;
  font-weight: 500;
  letter-spacing: 0.1px;
  transition: all 0.3s;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}
#page_nav .page_nav_link:hover {
  background-color: rgba(87, 108, 168, 0.1);
}

table {
  font-size: 12px;
}
table td {
  padding: 8px;
}
table th {
  padding: 8px;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
table tr:nth-child(2n) {
  background-color: rgba(114, 134, 160, 0.1);
}
table tr:nth-child(2n+1) {
  background-color: rgba(114, 134, 160, 0.15);
}
table tr:nth-child(1) {
  background-color: #21364d !important;
  color: #FAFCFF;
}

@media screen and (min-width: 960px) {
  .page {
    width: calc(80vw - 100px);
    margin: 64px 5vw 16px calc(100px + 15vw);
  }

  #page_nav {
    display: unset;
    width: calc(100px + 10vw);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
    background-color: #240B36;
  }
}
#tokens .token {
  width: 64px;
  height: 64px;
}

.character_card {
  width: 100%;
  min-width: 300px;
  background-color: #FAFCFF;
  margin: 8px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 5vw;
}
.character_card .tags {
  margin-bottom: 4px;
}
.character_card .personality_tags {
  margin-top: 4px;
  margin-bottom: 4px;
}
.character_card .token_space {
  width: 256px;
  padding: 8px;
  order: -1;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}
.character_card .token_space .token {
  width: 100%;
  height: 256px;
}
.character_card .token_space .tokens {
  width: 100%;
}
.character_card .content {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
}
.character_card .content .name {
  color: #822000 !important;
}
.character_card .content .summary {
  font-style: italic;
  color: #00031D;
  text-align: justify;
  margin-top: 8px;
  margin-bottom: 8px;
  flex-shrink: 1;
  font-size: 12px;
}
.character_card .content .details {
  color: #00031D;
  flex-grow: 1;
  text-align: justify;
  font-size: 12px;
}
.character_card .content {
  min-width: 300px;
  flex: 1;
}
.character_card.floating {
  width: 660px;
  min-height: 144px;
  border-radius: 5px;
  padding: 8px;
  gap: 16px;
  flex-flow: row nowrap;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.character_card.floating .verbose {
  display: none !important;
}
.character_card.floating .token_space {
  width: 128px;
}
.character_card.floating .token_space .token {
  height: 128px;
}
.character_card.floating .content .details {
  display: None;
}
.character_card.floating .content .name {
  font-size: 18px;
  margin: 0;
}

#floating_card {
  position: fixed;
}

/**
 * * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 * *
 * * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * * the blur parameter has to be doubled.
 * *
 * * Author: Florian Kutschera ($gefangenimnetz), Conceptboard GmbH ($conceptboardapp)
 * *
 * * Example usage:
 * *
 * * .card {
 * *     width: 95px;
 * *     height: 95px;
 * *     background: #f4f4f4;
 * *     -webkit-transition: all 250ms;
 * *     -moz-transition: all 250ms;
 * *     transition: all 250ms;
 * *     @include BoxShadowHelper(1);
 * *     &:hover {
 * *         @include BoxShadowHelper(3);
 * *         -webkit-transform: translateY(-5px);
 * *         -moz-transform: translateY(-5px);
 * *         transform: translateY(-5px);
 * *     }
 * * }
 * *
 * * Also note: https://m3.material.io/styles/elevation/tokens
 * */
/**
 * * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 * *
 * * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * * the blur parameter has to be doubled.
 * *
 * * Author: Florian Kutschera ($gefangenimnetz), Conceptboard GmbH ($conceptboardapp)
 * *
 * * Example usage:
 * *
 * * .card {
 * *     width: 95px;
 * *     height: 95px;
 * *     background: #f4f4f4;
 * *     -webkit-transition: all 250ms;
 * *     -moz-transition: all 250ms;
 * *     transition: all 250ms;
 * *     @include BoxShadowHelper(1);
 * *     &:hover {
 * *         @include BoxShadowHelper(3);
 * *         -webkit-transform: translateY(-5px);
 * *         -moz-transform: translateY(-5px);
 * *         transform: translateY(-5px);
 * *     }
 * * }
 * *
 * * Also note: https://m3.material.io/styles/elevation/tokens
 * */
h1, h2, h3, h4, h5, h6 {
  color: #240B36;
}

h1 {
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  width: 100%;
  padding: 48px 32px 16px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #FAFCFF;
  background-color: #240B36;
}

h2 {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  margin-top: 32px;
  margin-bottom: 16px;
}

h3 {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 8px;
}

h4 {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}

h5 {
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 4px;
}

h6 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 2px;
}

p {
  font-size: 12px;
  text-align: justify;
  margin-top: 4px;
  margin-bottom: 8px;
}

li {
  font-size: 12px;
  text-align: justify;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 12px;
}

img {
  display: inline-block;
  margin: 8px;
  object-fit: contain;
}

.section {
  border-radius: 12px;
  background: linear-gradient(90deg, rgba(87, 108, 168, 0.05) 0%, rgba(87, 108, 168, 0.07) 73%, rgba(87, 108, 168, 0.08) 100%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 0 0 24px;
  margin: 8px 0;
}
.section .section_header {
  padding: 16px 8px;
  margin: 0;
  min-width: 80px;
}

.tag {
  background-color: #822000;
  color: #FAFCFF;
  border-radius: 3px;
  padding: 4px;
  margin: 0 4px 4px 0;
  display: inline-block;
  font-size: 11px;
}
.tag.leveled {
  color: #FAFCFF;
}
.tag.leveled.t1 {
  background-color: #444548;
}
.tag.leveled.t2 {
  background-color: #0F720C;
}
.tag.leveled.t3 {
  background-color: #003b81;
}
.tag.leveled.t4 {
  background-color: #7400be;
}
.tag.leveled.t5 {
  background-color: #cf7b00;
}
.tag.leveled.t6 {
  background-color: #7a4c37;
}

.card_link {
  color: #576CA8;
}

.page {
  background-color: #FAFCFF;
  border-radius: 4px;
  width: 80vw;
  min-width: 320px;
  margin: 64px auto auto;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.page .page_content {
  padding: 16px 32px;
}

#page_nav {
  display: none;
}
#page_nav .page_nav_link {
  width: 100%;
  padding: 24px 8px;
  cursor: pointer;
  color: #FAFCFF;
  font-weight: 500;
  letter-spacing: 0.1px;
  transition: all 0.3s;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}
#page_nav .page_nav_link:hover {
  background-color: rgba(87, 108, 168, 0.1);
}

table {
  font-size: 12px;
}
table td {
  padding: 8px;
}
table th {
  padding: 8px;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
table tr:nth-child(2n) {
  background-color: rgba(114, 134, 160, 0.1);
}
table tr:nth-child(2n+1) {
  background-color: rgba(114, 134, 160, 0.15);
}
table tr:nth-child(1) {
  background-color: #21364d !important;
  color: #FAFCFF;
}

@media screen and (min-width: 960px) {
  .page {
    width: calc(80vw - 100px);
    margin: 64px 5vw 16px calc(100px + 15vw);
  }

  #page_nav {
    display: unset;
    width: calc(100px + 10vw);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
    background-color: #240B36;
  }
}
#material_plane a {
  font-size: 14px;
  font-variant-caps: petite-caps;
}
#material_plane .country_space {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
}
#material_plane .country_space h2, #material_plane .country_space h3, #material_plane .country_space h4, #material_plane .country_space h5, #material_plane .country_space h6 {
  color: #822000 !important;
}
#material_plane .country_space .country_names {
  width: 180px;
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}
#material_plane .country_space .country_names .country_name {
  font-weight: bold;
  font-variant-caps: small-caps;
  color: #822000;
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(36, 11, 54, 0.03);
  font-size: 16px;
}
#material_plane .country_space .country_names .country_name.active {
  background-color: rgba(36, 11, 54, 0.07);
}
#material_plane .country_space .country_desc {
  width: 70%;
  min-height: 800px;
  flex-grow: 9;
}
#material_plane .country_space .country_desc .country {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 8px;
  padding: 8px;
}
#material_plane .country_space .country_desc .country .country_card {
  width: 300px;
  flex-grow: 1;
  border-radius: 4px;
  background-color: #FAFCFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 8px;
  font-size: 12px;
}
#material_plane .country_space .country_desc .country .country_card table {
  width: 100%;
  border-collapse: collapse;
}
#material_plane .country_space .country_desc .country .country_card table td {
  padding-right: 8px;
}
#material_plane .country_space .country_desc .country .country_card table td:first-child {
  font-variant-caps: small-caps;
  color: #822000;
}
#material_plane .country_space .country_desc .country .country_card table td:last-child {
  width: 100%;
}
#material_plane .country_space .country_desc .country .country_card .tags {
  padding-top: 12px;
  padding-bottom: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#material_plane .country_space .country_desc .country .country_card .card_info {
  font-style: italic;
  font-size: 11px;
}
#material_plane .country_space .country_desc .country .desc {
  font-size: 12px;
  width: 100%;
}
#material_plane .country_space .country_desc .country .desc .capital_info {
  font-style: italic;
}

/**
 * * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 * *
 * * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * * the blur parameter has to be doubled.
 * *
 * * Author: Florian Kutschera ($gefangenimnetz), Conceptboard GmbH ($conceptboardapp)
 * *
 * * Example usage:
 * *
 * * .card {
 * *     width: 95px;
 * *     height: 95px;
 * *     background: #f4f4f4;
 * *     -webkit-transition: all 250ms;
 * *     -moz-transition: all 250ms;
 * *     transition: all 250ms;
 * *     @include BoxShadowHelper(1);
 * *     &:hover {
 * *         @include BoxShadowHelper(3);
 * *         -webkit-transform: translateY(-5px);
 * *         -moz-transform: translateY(-5px);
 * *         transform: translateY(-5px);
 * *     }
 * * }
 * *
 * * Also note: https://m3.material.io/styles/elevation/tokens
 * */
/**
 * * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 * *
 * * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * * the blur parameter has to be doubled.
 * *
 * * Author: Florian Kutschera ($gefangenimnetz), Conceptboard GmbH ($conceptboardapp)
 * *
 * * Example usage:
 * *
 * * .card {
 * *     width: 95px;
 * *     height: 95px;
 * *     background: #f4f4f4;
 * *     -webkit-transition: all 250ms;
 * *     -moz-transition: all 250ms;
 * *     transition: all 250ms;
 * *     @include BoxShadowHelper(1);
 * *     &:hover {
 * *         @include BoxShadowHelper(3);
 * *         -webkit-transform: translateY(-5px);
 * *         -moz-transform: translateY(-5px);
 * *         transform: translateY(-5px);
 * *     }
 * * }
 * *
 * * Also note: https://m3.material.io/styles/elevation/tokens
 * */
h1, h2, h3, h4, h5, h6 {
  color: #240B36;
}

h1 {
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  width: 100%;
  padding: 48px 32px 16px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #FAFCFF;
  background-color: #240B36;
}

h2 {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  margin-top: 32px;
  margin-bottom: 16px;
}

h3 {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 8px;
}

h4 {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}

h5 {
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 4px;
}

h6 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 2px;
}

p {
  font-size: 12px;
  text-align: justify;
  margin-top: 4px;
  margin-bottom: 8px;
}

li {
  font-size: 12px;
  text-align: justify;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 12px;
}

img {
  display: inline-block;
  margin: 8px;
  object-fit: contain;
}

.section {
  border-radius: 12px;
  background: linear-gradient(90deg, rgba(87, 108, 168, 0.05) 0%, rgba(87, 108, 168, 0.07) 73%, rgba(87, 108, 168, 0.08) 100%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 0 0 24px;
  margin: 8px 0;
}
.section .section_header {
  padding: 16px 8px;
  margin: 0;
  min-width: 80px;
}

.tag {
  background-color: #822000;
  color: #FAFCFF;
  border-radius: 3px;
  padding: 4px;
  margin: 0 4px 4px 0;
  display: inline-block;
  font-size: 11px;
}
.tag.leveled {
  color: #FAFCFF;
}
.tag.leveled.t1 {
  background-color: #444548;
}
.tag.leveled.t2 {
  background-color: #0F720C;
}
.tag.leveled.t3 {
  background-color: #003b81;
}
.tag.leveled.t4 {
  background-color: #7400be;
}
.tag.leveled.t5 {
  background-color: #cf7b00;
}
.tag.leveled.t6 {
  background-color: #7a4c37;
}

.card_link {
  color: #576CA8;
}

.page {
  background-color: #FAFCFF;
  border-radius: 4px;
  width: 80vw;
  min-width: 320px;
  margin: 64px auto auto;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.page .page_content {
  padding: 16px 32px;
}

#page_nav {
  display: none;
}
#page_nav .page_nav_link {
  width: 100%;
  padding: 24px 8px;
  cursor: pointer;
  color: #FAFCFF;
  font-weight: 500;
  letter-spacing: 0.1px;
  transition: all 0.3s;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}
#page_nav .page_nav_link:hover {
  background-color: rgba(87, 108, 168, 0.1);
}

table {
  font-size: 12px;
}
table td {
  padding: 8px;
}
table th {
  padding: 8px;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
table tr:nth-child(2n) {
  background-color: rgba(114, 134, 160, 0.1);
}
table tr:nth-child(2n+1) {
  background-color: rgba(114, 134, 160, 0.15);
}
table tr:nth-child(1) {
  background-color: #21364d !important;
  color: #FAFCFF;
}

@media screen and (min-width: 960px) {
  .page {
    width: calc(80vw - 100px);
    margin: 64px 5vw 16px calc(100px + 15vw);
  }

  #page_nav {
    display: unset;
    width: calc(100px + 10vw);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
    background-color: #240B36;
  }
}
#history_space {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow: visible;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: content-box;
}
#history_space #history_bar {
  width: 4px;
  border-radius: 2px;
  background-color: #7286A0;
  flex-grow: 0;
  z-index: 3;
}
#history_space #history_zones {
  transform: translate(4px);
  width: 320px;
  flex-grow: 0;
  border-radius: 6px 4px 4px 6px;
  overflow: visible;
  background-color: #21364d;
  font-variant-caps: small-caps;
  color: #FAFCFF;
  flex-shrink: 0;
  z-index: 2;
}
#history_space #history_zones .history_zone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  letter-spacing: 1px;
  font-variant-caps: small-caps;
  padding: 16px 16px 8px 8px;
}
#history_space #history_zones .history_zone .zone_start {
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 11px;
}
#history_space #history_zones .history_zone:not(:first-child):before {
  position: absolute;
  display: block;
  width: 60%;
  height: 2px;
  background-color: #00031D;
  top: 0;
  right: auto;
  left: auto;
  content: "";
}
#history_space #history_zones .history_zone:nth-child(2n+1) {
  background: linear-gradient(0deg, rgba(114, 134, 160, 0.1) 0%, rgba(114, 134, 160, 0.04) 22%, rgba(114, 134, 160, 0.02) 50%, rgba(114, 134, 160, 0.04) 78%, rgba(114, 134, 160, 0.1) 100%);
}
#history_space #history_right_desc {
  width: 30%;
  flex-grow: 8;
  padding: 8px;
}
#history_space #history_right_tags, #history_space #history_left_tags {
  width: 280px;
  flex-grow: 0;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}
#history_space #history_right_tags .history_event, #history_space #history_left_tags .history_event {
  position: absolute;
  left: 0;
  padding: 8px;
  transform: translate(0, -50%);
  border-radius: 4px;
  text-align: center;
  background-color: #822000;
  color: #FAFCFF;
  font-size: 11px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#history_space #history_right_tags .history_event:before, #history_space #history_left_tags .history_event:before {
  position: absolute;
  width: 320px;
  left: 0;
  top: 50%;
  bottom: 50%;
  transform: translate(-100%);
  content: "";
  height: 4px;
  background-color: #7286A0;
  display: block;
  z-index: -1;
}
#history_space #history_left_tags {
  z-index: 1;
}
#history_space #history_right_tags {
  z-index: 0;
}

/**
 * * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 * *
 * * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * * the blur parameter has to be doubled.
 * *
 * * Author: Florian Kutschera ($gefangenimnetz), Conceptboard GmbH ($conceptboardapp)
 * *
 * * Example usage:
 * *
 * * .card {
 * *     width: 95px;
 * *     height: 95px;
 * *     background: #f4f4f4;
 * *     -webkit-transition: all 250ms;
 * *     -moz-transition: all 250ms;
 * *     transition: all 250ms;
 * *     @include BoxShadowHelper(1);
 * *     &:hover {
 * *         @include BoxShadowHelper(3);
 * *         -webkit-transform: translateY(-5px);
 * *         -moz-transform: translateY(-5px);
 * *         transform: translateY(-5px);
 * *     }
 * * }
 * *
 * * Also note: https://m3.material.io/styles/elevation/tokens
 * */
/**
 * * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 * *
 * * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * * the blur parameter has to be doubled.
 * *
 * * Author: Florian Kutschera ($gefangenimnetz), Conceptboard GmbH ($conceptboardapp)
 * *
 * * Example usage:
 * *
 * * .card {
 * *     width: 95px;
 * *     height: 95px;
 * *     background: #f4f4f4;
 * *     -webkit-transition: all 250ms;
 * *     -moz-transition: all 250ms;
 * *     transition: all 250ms;
 * *     @include BoxShadowHelper(1);
 * *     &:hover {
 * *         @include BoxShadowHelper(3);
 * *         -webkit-transform: translateY(-5px);
 * *         -moz-transform: translateY(-5px);
 * *         transform: translateY(-5px);
 * *     }
 * * }
 * *
 * * Also note: https://m3.material.io/styles/elevation/tokens
 * */
h1, h2, h3, h4, h5, h6 {
  color: #240B36;
}

h1 {
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  width: 100%;
  padding: 48px 32px 16px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #FAFCFF;
  background-color: #240B36;
}

h2 {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  margin-top: 32px;
  margin-bottom: 16px;
}

h3 {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 8px;
}

h4 {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}

h5 {
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 4px;
}

h6 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 2px;
}

p {
  font-size: 12px;
  text-align: justify;
  margin-top: 4px;
  margin-bottom: 8px;
}

li {
  font-size: 12px;
  text-align: justify;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 12px;
}

img {
  display: inline-block;
  margin: 8px;
  object-fit: contain;
}

.section {
  border-radius: 12px;
  background: linear-gradient(90deg, rgba(87, 108, 168, 0.05) 0%, rgba(87, 108, 168, 0.07) 73%, rgba(87, 108, 168, 0.08) 100%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 0 0 24px;
  margin: 8px 0;
}
.section .section_header {
  padding: 16px 8px;
  margin: 0;
  min-width: 80px;
}

.tag {
  background-color: #822000;
  color: #FAFCFF;
  border-radius: 3px;
  padding: 4px;
  margin: 0 4px 4px 0;
  display: inline-block;
  font-size: 11px;
}
.tag.leveled {
  color: #FAFCFF;
}
.tag.leveled.t1 {
  background-color: #444548;
}
.tag.leveled.t2 {
  background-color: #0F720C;
}
.tag.leveled.t3 {
  background-color: #003b81;
}
.tag.leveled.t4 {
  background-color: #7400be;
}
.tag.leveled.t5 {
  background-color: #cf7b00;
}
.tag.leveled.t6 {
  background-color: #7a4c37;
}

.card_link {
  color: #576CA8;
}

.page {
  background-color: #FAFCFF;
  border-radius: 4px;
  width: 80vw;
  min-width: 320px;
  margin: 64px auto auto;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.page .page_content {
  padding: 16px 32px;
}

#page_nav {
  display: none;
}
#page_nav .page_nav_link {
  width: 100%;
  padding: 24px 8px;
  cursor: pointer;
  color: #FAFCFF;
  font-weight: 500;
  letter-spacing: 0.1px;
  transition: all 0.3s;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}
#page_nav .page_nav_link:hover {
  background-color: rgba(87, 108, 168, 0.1);
}

table {
  font-size: 12px;
}
table td {
  padding: 8px;
}
table th {
  padding: 8px;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
table tr:nth-child(2n) {
  background-color: rgba(114, 134, 160, 0.1);
}
table tr:nth-child(2n+1) {
  background-color: rgba(114, 134, 160, 0.15);
}
table tr:nth-child(1) {
  background-color: #21364d !important;
  color: #FAFCFF;
}

@media screen and (min-width: 960px) {
  .page {
    width: calc(80vw - 100px);
    margin: 64px 5vw 16px calc(100px + 15vw);
  }

  #page_nav {
    display: unset;
    width: calc(100px + 10vw);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
    background-color: #240B36;
  }
}
.cool_intro {
  text-align: justify;
  text-align-last: center;
  padding-right: 16%;
  padding-left: 16%;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

/**
 * * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 * *
 * * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * * the blur parameter has to be doubled.
 * *
 * * Author: Florian Kutschera ($gefangenimnetz), Conceptboard GmbH ($conceptboardapp)
 * *
 * * Example usage:
 * *
 * * .card {
 * *     width: 95px;
 * *     height: 95px;
 * *     background: #f4f4f4;
 * *     -webkit-transition: all 250ms;
 * *     -moz-transition: all 250ms;
 * *     transition: all 250ms;
 * *     @include BoxShadowHelper(1);
 * *     &:hover {
 * *         @include BoxShadowHelper(3);
 * *         -webkit-transform: translateY(-5px);
 * *         -moz-transform: translateY(-5px);
 * *         transform: translateY(-5px);
 * *     }
 * * }
 * *
 * * Also note: https://m3.material.io/styles/elevation/tokens
 * */
/**
 * * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 * *
 * * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * * the blur parameter has to be doubled.
 * *
 * * Author: Florian Kutschera ($gefangenimnetz), Conceptboard GmbH ($conceptboardapp)
 * *
 * * Example usage:
 * *
 * * .card {
 * *     width: 95px;
 * *     height: 95px;
 * *     background: #f4f4f4;
 * *     -webkit-transition: all 250ms;
 * *     -moz-transition: all 250ms;
 * *     transition: all 250ms;
 * *     @include BoxShadowHelper(1);
 * *     &:hover {
 * *         @include BoxShadowHelper(3);
 * *         -webkit-transform: translateY(-5px);
 * *         -moz-transform: translateY(-5px);
 * *         transform: translateY(-5px);
 * *     }
 * * }
 * *
 * * Also note: https://m3.material.io/styles/elevation/tokens
 * */
h1, h2, h3, h4, h5, h6 {
  color: #240B36;
}

h1 {
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  width: 100%;
  padding: 48px 32px 16px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #FAFCFF;
  background-color: #240B36;
}

h2 {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  margin-top: 32px;
  margin-bottom: 16px;
}

h3 {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 8px;
}

h4 {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}

h5 {
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 4px;
}

h6 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 2px;
}

p {
  font-size: 12px;
  text-align: justify;
  margin-top: 4px;
  margin-bottom: 8px;
}

li {
  font-size: 12px;
  text-align: justify;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 12px;
}

img {
  display: inline-block;
  margin: 8px;
  object-fit: contain;
}

.section {
  border-radius: 12px;
  background: linear-gradient(90deg, rgba(87, 108, 168, 0.05) 0%, rgba(87, 108, 168, 0.07) 73%, rgba(87, 108, 168, 0.08) 100%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 0 0 24px;
  margin: 8px 0;
}
.section .section_header {
  padding: 16px 8px;
  margin: 0;
  min-width: 80px;
}

.tag {
  background-color: #822000;
  color: #FAFCFF;
  border-radius: 3px;
  padding: 4px;
  margin: 0 4px 4px 0;
  display: inline-block;
  font-size: 11px;
}
.tag.leveled {
  color: #FAFCFF;
}
.tag.leveled.t1 {
  background-color: #444548;
}
.tag.leveled.t2 {
  background-color: #0F720C;
}
.tag.leveled.t3 {
  background-color: #003b81;
}
.tag.leveled.t4 {
  background-color: #7400be;
}
.tag.leveled.t5 {
  background-color: #cf7b00;
}
.tag.leveled.t6 {
  background-color: #7a4c37;
}

.card_link {
  color: #576CA8;
}

.page {
  background-color: #FAFCFF;
  border-radius: 4px;
  width: 80vw;
  min-width: 320px;
  margin: 64px auto auto;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.page .page_content {
  padding: 16px 32px;
}

#page_nav {
  display: none;
}
#page_nav .page_nav_link {
  width: 100%;
  padding: 24px 8px;
  cursor: pointer;
  color: #FAFCFF;
  font-weight: 500;
  letter-spacing: 0.1px;
  transition: all 0.3s;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}
#page_nav .page_nav_link:hover {
  background-color: rgba(87, 108, 168, 0.1);
}

table {
  font-size: 12px;
}
table td {
  padding: 8px;
}
table th {
  padding: 8px;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
table tr:nth-child(2n) {
  background-color: rgba(114, 134, 160, 0.1);
}
table tr:nth-child(2n+1) {
  background-color: rgba(114, 134, 160, 0.15);
}
table tr:nth-child(1) {
  background-color: #21364d !important;
  color: #FAFCFF;
}

@media screen and (min-width: 960px) {
  .page {
    width: calc(80vw - 100px);
    margin: 64px 5vw 16px calc(100px + 15vw);
  }

  #page_nav {
    display: unset;
    width: calc(100px + 10vw);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
    background-color: #240B36;
  }
}
#active_characters .page_content {
  display: flex;
  flex-flow: row wrap-reverse;
  align-items: flex-end;
}

#as_info_zone {
  flex-grow: 3;
  width: 640px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
}
#as_info_zone > * {
  padding: 8px;
  margin: 16px;
  border-radius: 4px;
}

#ast_explanation {
  min-height: 320px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#ast_explanation ul {
  margin-top: 0;
  padding: 12px;
}

#individual_ast .events_list .event_li .effect_tags .effect_tag, #individual_ast .opinion_tags .effect_tag, .effect_tag {
  padding: 4px;
  margin: 2px;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  border: solid 2px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  font-size: 12px;
}
#individual_ast .events_list .event_li .effect_tags [data-emo=Gratitude].effect_tag, #individual_ast .opinion_tags [data-emo=Gratitude].effect_tag, [data-emo=Gratitude].effect_tag {
  background-color: rgba(199, 12, 207, 0.1);
  border-color: #c70ccf;
  color: #c70ccf;
}
#individual_ast .events_list .event_li .effect_tags [data-emo=Trust].effect_tag, #individual_ast .opinion_tags [data-emo=Trust].effect_tag, [data-emo=Trust].effect_tag {
  background-color: rgba(0, 59, 129, 0.1);
  border-color: #003b81;
  color: #003b81;
}
#individual_ast .events_list .event_li .effect_tags [data-emo=Respect].effect_tag, #individual_ast .opinion_tags [data-emo=Respect].effect_tag, [data-emo=Respect].effect_tag {
  background-color: rgba(116, 0, 190, 0.1);
  border-color: #7400be;
  color: #7400be;
}
#individual_ast .events_list .event_li .effect_tags [data-emo=Envy].effect_tag, #individual_ast .opinion_tags [data-emo=Envy].effect_tag, [data-emo=Envy].effect_tag {
  background-color: rgba(15, 114, 12, 0.1);
  border-color: #0F720C;
  color: #0F720C;
}
#individual_ast .events_list .event_li .effect_tags [data-emo=Paranoia].effect_tag, #individual_ast .opinion_tags [data-emo=Paranoia].effect_tag, [data-emo=Paranoia].effect_tag {
  background-color: rgba(242, 165, 70, 0.1);
  border-color: #f2a546;
  color: #f2a546;
}
#individual_ast .events_list .event_li .effect_tags [data-emo=Contempt].effect_tag, #individual_ast .opinion_tags [data-emo=Contempt].effect_tag, [data-emo=Contempt].effect_tag {
  background-color: rgba(255, 0, 0, 0.1);
  border-color: red;
  color: red;
}

#individual_ast {
  height: 320px;
  overflow: auto;
  padding: 16px;
  display: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#individual_ast .events_list {
  display: flex;
  flex-flow: column-reverse nowrap;
}
#individual_ast .events_list .event_li {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: 12px;
}
#individual_ast .events_list .event_li::-webkit-scrollbar {
  display: none;
}
#individual_ast .events_list .event_li .timestamp {
  font-size: 11px;
  width: 120px;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 8px;
  margin-right: 16px;
  border-right: solid 1px rgba(114, 134, 160, 0.2);
  flex-grow: 0;
  flex-shrink: 0;
}
#individual_ast .events_list .event_li .display_text {
  width: 400px;
  font-size: 12px;
  line-height: 1.4;
  flex-grow: 1;
}
#individual_ast .events_list .event_li .effect_tags {
  display: flex;
  flex-flow: row-reverse nowrap;
  padding-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 16px;
  flex-grow: 0;
}
#attitude_summary_table_area {
  flex-grow: 1;
  width: 448px;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
  border: solid 4px #21364d;
}
#attitude_summary_table_area img {
  width: 48px;
  height: 48px;
  margin: 0;
}
#attitude_summary_table_area .table_body {
  width: 100%;
  height: 672px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#attitude_summary_table_area .table_body::-webkit-scrollbar {
  display: none;
}
#attitude_summary_table_area .row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
#attitude_summary_table_area .row:nth-child(2n) {
  background-color: rgba(114, 134, 160, 0.1);
}
#attitude_summary_table_area .row:nth-child(2n+1) {
  background-color: rgba(114, 134, 160, 0.15);
}
#attitude_summary_table_area .row.header {
  background-color: #21364d;
}
#attitude_summary_table_area .row .cell {
  width: 64px;
  height: 64px;
  padding: 8px;
  display: inline-block;
  position: relative;
  z-index: 0;
}
#attitude_summary_table_area .row .cell .npc_opinion, #attitude_summary_table_area .row .cell .backdrop, #attitude_summary_table_area .row .cell .contempt_border, #attitude_summary_table_area .row .cell .respect_border, #attitude_summary_table_area .row .cell .envy_border, #attitude_summary_table_area .row .cell .gratitude_border, #attitude_summary_table_area .row .cell .paranoia_border, #attitude_summary_table_area .row .cell .trust_border {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}
#attitude_summary_table_area .row .cell .backdrop, #attitude_summary_table_area .row .cell .contempt_border, #attitude_summary_table_area .row .cell .respect_border, #attitude_summary_table_area .row .cell .envy_border, #attitude_summary_table_area .row .cell .gratitude_border, #attitude_summary_table_area .row .cell .paranoia_border, #attitude_summary_table_area .row .cell .trust_border {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
}
#attitude_summary_table_area .row .cell .npc_opinion {
  width: 32px;
  height: 32px;
  margin-top: -16px;
  margin-left: -16px;
  z-index: 2;
  background-color: #FAFCFF;
  color: #240B36;
  font-family: "Roboto", sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}
#attitude_summary_table_area .row .cell .trust_border {
  z-index: 1;
  background: conic-gradient(#0000 0deg, #0000 0deg, #003b81 0deg, #003b81 120deg, #0000 120deg, #0000 360deg);
}
#attitude_summary_table_area .row .cell .paranoia_border {
  z-index: 1;
  background: conic-gradient(#0000 0deg, #0000 0deg, #f2a546 0deg, #f2a546 120deg, #0000 120deg, #0000 360deg);
}
#attitude_summary_table_area .row .cell .gratitude_border {
  z-index: 1;
  background: conic-gradient(#0000 0deg, #0000 120deg, #c70ccf 120deg, #c70ccf 240deg, #0000 240deg, #0000 360deg);
}
#attitude_summary_table_area .row .cell .envy_border {
  z-index: 1;
  background: conic-gradient(#0000 0deg, #0000 120deg, #0F720C 120deg, #0F720C 240deg, #0000 240deg, #0000 360deg);
}
#attitude_summary_table_area .row .cell .respect_border {
  z-index: 1;
  background: conic-gradient(#0000 0deg, #0000 240deg, #7400be 240deg, #7400be 360deg, #0000 360deg, #0000 360deg);
}
#attitude_summary_table_area .row .cell .contempt_border {
  z-index: 1;
  background: conic-gradient(#0000 0deg, #0000 240deg, red 240deg, red 360deg, #0000 360deg, #0000 360deg);
}
#attitude_summary_table_area .row .cell .value_0 {
  opacity: 0;
}
#attitude_summary_table_area .row .cell .value_1 {
  opacity: 0.4;
}
#attitude_summary_table_area .row .cell .value_2 {
  opacity: 0.75;
}
#attitude_summary_table_area .row .cell .value_3 {
  opacity: 1;
}
#attitude_summary_table_area .row .cell .backdrop {
  z-index: -2;
  background-color: #aaa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#workshop .backdrop {
  background: black;
  padding: 72px;
  width: 100vw;
  height: 100vh;
}
#workshop .backdrop .selectable {
  width: 180px;
  margin: 8px;
}

/**
 * * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 * *
 * * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * * the blur parameter has to be doubled.
 * *
 * * Author: Florian Kutschera ($gefangenimnetz), Conceptboard GmbH ($conceptboardapp)
 * *
 * * Example usage:
 * *
 * * .card {
 * *     width: 95px;
 * *     height: 95px;
 * *     background: #f4f4f4;
 * *     -webkit-transition: all 250ms;
 * *     -moz-transition: all 250ms;
 * *     transition: all 250ms;
 * *     @include BoxShadowHelper(1);
 * *     &:hover {
 * *         @include BoxShadowHelper(3);
 * *         -webkit-transform: translateY(-5px);
 * *         -moz-transform: translateY(-5px);
 * *         transform: translateY(-5px);
 * *     }
 * * }
 * *
 * * Also note: https://m3.material.io/styles/elevation/tokens
 * */
#workshop .selectable_radio_container.translational_flags {
  overflow: hidden;
  display: flex;
}
#workshop .selectable_radio_container.translational_flags .translation_base {
  background-color: #151515;
  box-shadow: 0 0 10px 3px rgba(250, 252, 255, 0.19);
}
#workshop .selectable_radio_container.translational_flags.upward .selectable {
  background: #252d3d;
  background: linear-gradient(0deg, #252d3d 0%, #191f2c 30%, #131b27 45%, #090911 100%);
  border: solid 1px #242d40;
  box-shadow: 0 0 14px 5px rgba(46, 73, 131, 0.25);
}
#workshop .selectable_radio_container.translational_flags.upward .selectable.selected {
  background: #2e4983;
  background: linear-gradient(0deg, #2e4983 0%, #293d68 12%, #141c25 45%, #090911 100%);
}
#workshop .selectable_radio_container.translational_flags .translation_base {
  position: absolute;
}
#workshop .selectable_radio_container.translational_flags.upward {
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
#workshop .selectable_radio_container.translational_flags.upward .translation_base {
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 24px;
}
#workshop .selectable_radio_container.translational_flags.upward .selectable {
  aspect-ratio: 0.6/1;
}
#workshop .selectable_radio_container.translational_flags.upward .selectable.selected {
  aspect-ratio: 0.6/1.12;
}
#workshop .selectable_radio_container.translational_flags .selectable {
  transition: all 200ms;
}

/*# sourceMappingURL=main.css.map */
