@use "../definitions/colors"
@use "../element_modules/_tag"

@use "../definitions/shadows"

@import "common_elements"

$character_card_floating_width: 660px
$character_card_floating_image_diameter: 128px
$character_card_floating_height: $character_card_floating_image_diameter + 16px
$character_card_floating_title_font_size: 20px

$character_card_fixed_image_diameter: 256px
$character_card_fixed_title_font_size: 22px

$token_icon_diameter: 64px

#tokens
  .token
    width: $token_icon_diameter
    height: $token_icon_diameter

.character_card
  width: 100%
  min-width: 300px
  background-color: colors.$white
  margin: 8px auto
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  gap: 5vw

  .tags
    margin-bottom: 4px
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: flex-start

  .personality_tags
    margin-top: 4px
    margin-bottom: 4px

  .token_space
    width: $character_card_fixed_image_diameter
    padding: 8px
    order: -1
    display: flex
    flex-flow: column nowrap
    overflow: hidden
    justify-content: space-between
    align-items: center

    .token
      width: 100%
      height: $character_card_fixed_image_diameter

    .tokens
      width: 100%

  .content
    display: flex
    flex-flow: column nowrap
    min-height: 100%

    .name
      color: colors.$primary !important

    .summary
      font-style: italic
      color: colors.$black
      text-align: justify
      margin-top: 8px
      margin-bottom: 8px
      flex-shrink: 1
      font-size: 12px
      font-family: "RobotoCondensed", sans-serif

    .details
      color: colors.$black
      flex-grow: 1
      text-align: justify
      font-size: 12px
      max-height: 400px
      overflow-y: auto

  .content
    min-width: 300px
    flex: 1

  &.floating
    width: $character_card_floating_width
    min-height: $character_card_floating_height
    border-radius: 5px
    padding: 8px
    gap: 16px
    flex-flow: row nowrap
    overflow: hidden

    @include shadows.Elevation(1)

    .verbose
      display: none !important

    .token_space
      width: $character_card_floating_image_diameter
      .token
        height: $character_card_floating_image_diameter

    .content
      .details
        display: None

      .name
        font-size: 18px
        margin: 0



.token_selector
  @include tag.tag(colors.$primary, $compressed: true)
  cursor: pointer