@use "../definitions/colors"
@use "../definitions/shadows"


#toast-container
  bottom: 10%
  right: 10%
  position: fixed
  z-index: 5

  .toast
    width: 360px
    min-height: 80px
    display: flex
    flex-flow: column nowrap
    font-family: "Roboto", sans-serif
    text-transform: uppercase
    background-color: colors.$prussian
    z-index: 5
    padding: 16px
    gap: 8px
    margin: 8px
    justify-content: flex-start
    align-items: stretch
    border-radius: 6px

    @include shadows.Elevation(2)

    .roll_result
      font-size: 24px
      color: colors.$white

    .roll_buildup
      display: block
      width: 100%
      font-size: 16px
      color: colors.$grey
      text-align: right