@import "../definitions/colors"
@import "../definitions/shadows"
@import "../definitions/common_dimensions"
@import "common_elements"

.cool_intro
  text-align: justify
  text-align-last: center
  padding-right: 16%
  padding-left: 16%
  font-family: "Montserrat", sans-serif
  font-style: italic
