@use "../definitions/colors";
@use "../definitions/shadows";

#page_area {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

#pages {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  gap: 64px;
  padding: 64px 64px 64px 384px;
  z-index: -1;
}

.page {
  background-color: colors.$white;
  border-radius: 4px;
  min-width: 320px;
  overflow: hidden;

  @include shadows.Elevation(2);

  &__content {
    padding: 16px 32px;
  }
}

.page_header {
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  width: 100%;
  padding: 48px 32px 16px;
  margin-top: 0;
  margin-bottom: 16px;
  color: colors.$white;
  background-color: colors.$theme_dark;
}

#page_nav {
  position: absolute;
  width: 320px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: colors.$theme_dark;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
  padding: 8px;
  color: colors.$white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;

  .space_filler {
    flex-grow: 1;
  }
}

.page_nav_link {
  width: 100%;
  padding: 24px 8px 24px 16px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.1px;
  transition: all 0.1s;
  border-radius: 8px;

  i {
    margin-right: 16px;
  }

  &:hover {
    background-color: colors.$dark_focus;
  }
}

.page_zone_shift {
  justify-self: flex-end;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 100;
  width: 100%;
  padding: 24px 8px 24px 16px;
  border-radius: 8px;
  position: sticky;
  background-color: colors.$theme_dark;
  color: colors.$white;

  i {
    margin-left: 16px;
  }

  &:hover {
    background-color: colors.$dark_focus;
  }
}
